<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="senior-sigan" />
    <meta name="description" content="Images search demo that is build on VGG and kNN" />
    <link rel="canonical" href="http://sigan.1der.link/kawaii_search" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Kawaii Search">
    <meta name="application-name" content="Kawaii Search">

    <meta property="og:url" content="http://sigan.1der.link/kawaii_search">
    <meta property="og:description" content="Images search demo that is build on VGG and kNN">
    <meta property="og:image" content="https://i.imgur.com/J1dCoV9.png">
    <meta property="og:title" content="Kawaii Search">

    <meta name="keywords" content="machine learning,AI,VGG19,VGG16,kNN,neural network,conv net,images,similar">

    <title>Leitafut Search</title>

    <style type="text/css">
        /*
        .card {display:inline-block;}*/

        .card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}
    </style>
</head>
<body>

    <!-- Test -->

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Leitafut Search</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="#">Features</a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="#">Pricing</a>#}
{#      </li>#}
    </ul>
  </div>
</nav>

<br>
<!-- End Test -->

<div class="container">
    <!-- <h1>Leitafut Search</h1> -->

    <h3>Upload Photo</h3>
    <form method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
    </form>


    <section>
{#        <form method="POST" enctype="multipart/form-data">#}
{#            <button type="submit" class="btn btn-primary">I'm lucky</button>#}
{#        </form>#}
    </section>
    <br>
    <hr>
    <!-- <section>
        {% for file in files %}
        <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
            <a href="{{file[0][1]}}" target="_blank"><img src="{{ file[0][0] }}" height="300px"></a>
            <figcaption>{{ "{0:.4f}".format(file[1]) }}</figcaption>
        </figure>
        {% endfor %}
    </section> -->



    <!-- Test -->


{#    <hr>#}
{#    <br>#}
{#    <hr>#}
     <section>
        <div class="card-columns">
            
        
        {% for file in files %}
        <!-- <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
            <a href="{{file[0][1]}}" target="_blank"><img src="{{ file[0][0] }}" height="300px"></a>
            <figcaption>{{ "{0:.4f}".format(file[1]) }}</figcaption>
        </figure> -->
        
            
        <div class="card" style="width: 18rem; " >
            <img class="card-img-top" src="{{file[0][0]}}" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{ file[3] }}</h5>
            <p class="card-text">price {{ file[4] }}</p>
            <a href="{{file[2]}}" class="btn btn-primary">visit site</a>
          </div>
        </div>
       


        {% endfor %}
         </div>
    </section>

    <!-- End Test -->


</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<!-- Yandex.Metrika counter -->

<!-- /Yandex.Metrika counter -->
</body>


<footer>



</footer>
</html>